<div class="container">
  <h2><%= @task.title %></h2>
  <h4><%= @task.details %></h4>
  <p class="status">
    <% if @task.completed %>
        <input type="checkbox" checked="checked" disabled>
        This task has been completed<br>
    <% else %>
        <input type="checkbox" disabled>
        This task has not yet been completed<br>
    <% end %>
  </p>
  <%= link_to "Edit task", edit_path %><br>
  <%= link_to "Back to list", list_path %>
</div>
